aiohttp==3.8.4
aiosignal==1.3.1
aniso8601==9.0.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
auditlog3==1.0.1
autopep8==1.4.4
botMother==1.2.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
cryptography==40.0.2
defusedxml==0.7.1
distlib==0.3.6
Django==4.2.2
django-allauth==0.54.0
django-cors-headers==3.14.0
django-countries-with-calling-codes==0.1.1
django-crispy-forms==2.0
django-filter==23.2
django-ordered-model==3.3.0
django-phonenumber-field==7.1.0
django-utils-six==2.0
djangorestframework==3.14.0
filelock==3.11.0
frozenlist==1.3.3
geoip2==4.7.0
googletrans==3.1.0a0
graphene==3.2.2
graphene-django==3.0.0b7
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Markdown==3.1.1
maxminddb==2.3.0
monday==1.3.3
multidict==6.0.4
oauthlib==3.2.2
pep8==1.7.1
phonenumberslite==8.13.13
Pillow==9.5.0
pipenv==2023.3.20
platformdirs==3.2.0
promise==2.3
psycopg2==2.9.6
psycopg2-binary==2.9.6
pycodestyle==2.5.0
pycparser==2.21
PyJWT==2.6.0
python-dotenv==0.12.0
python3-openid==3.2.0
pytz==2019.3
PyYAML==5.1.2
requests==2.24.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
sentry-sdk==0.14.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
text-unidecode==1.3
tzdata==2023.3
urllib3==1.25.11
virtualenv==20.21.0
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7
yarl==1.9.2
