.idea
.venv
*.pyc
/static
media
tree_conf/settings_dev.py
config/settings_prod.py
settings_dev.py
.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/tags
pytest.ini
data
uploads
.env
vandelay-py.js
.envrc
files